body {
  margin: 0;
  font-family: 'Lora', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.HeaderLinks {
	text-decoration: none !important;
}

#contact {
    margin-left: 20px;
}

#me {
    max-width: 30%;
}
