body {
  margin: 0;
  font-family: 'Lora', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.Contact {
	
}

.HeaderLinks {
	text-decoration: none !important;
}

#about {
	margin-left: 50px;
}
